<script src="http://cdn.schrockwell.com/trmnl-moonphase/script.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        drawMoonPhase(150);
    });
</script>

<div class="layout">
    <div style="position: relative" class="image-dither">
        <div id="container"></div>
        <img id="moon" height="150" width="150" src="http://cdn.schrockwell.com/trmnl-moonphase/moon.png">
    </div>
</div>

<div class="title_bar">
  <span class="title"></span>
</div>